@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --message-stroke: 3px;
    --message-stroke-min: -3px;
    --name-stroke: 1px;
    --name-stroke-min: -1px;
}
#chat_container{
    font-family:inter,sans-serif !important;
}
.user_info {
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
}
.nick {
    filter: drop-shadow(rgb(0, 0, 0) 0px 1px 0.1px) drop-shadow(rgb(0, 0, 0) 1px 0px 0.1px);
}
.nick::after {
    content: ':';
}
.colon {
    display:none;
}
#chat_container > div:nth-child(4) > span.user_info > span:nth-child(4) {
    display: none;
}
.emote {
    margin-left: -4px;
}
.message {
	filter: drop-shadow(rgb(0, 0, 0) 0px 1px 0.1px) drop-shadow(rgb(0, 0, 0) 1px 0px 0.1px) drop-shadow(0px 0px 5px rgba(0,0,0,1));
    padding-left:30px;
}
.chat_line {
    font-weight:600;
}